  <header class="bg-dark py-5", id="minh_custom_background_womans">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Woman's collection</h1>
      </div>
    </div>
  </header>
<%= render "static_pages/products", categories: @categories %>
